body{
    background-color: black;
    color: white;
    text-align: center;
}

h1{
    border: 2px solid white;
    border-radius: 10px;
}

h2{
    border: 2px solid white;
    border-radius: 10px;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 5px solid white;
    margin: 1.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #819ff9;
}

.flash{
    background-color: white;
}

.userflash{
    background-color: white;
}